<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="powderblue">
<center>      
    <nav>
        <a href="/">Home</a>
        &nbsp; &nbsp; &nbsp;
        <a href="/about/">About</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/contact/">Contact</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/table/">Table</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/testing/">Testing</a>
    </nav>
</center>
<h1>About</h1>

    <p>
        WebGApp is a simple web application developed using Django framework.
        This application is created for learning and practicing web development concepts.
        It contains multiple pages such as Home, About, Contact, Service, and Form pages.
        The project helps users understand URL routing, HTML page design, forms, and Django views.
        WebGApp provides a simple and user-friendly interface for educational purposes.
    </p>

 <a href="/">Home page</a>

</body>    
</html>