<!DOCTYPE html>
<html>

<head>

    <title>Student Registration Form</title>

    <style>

        body{
            background: linear-gradient(to right, #95777c, #9c8488);
            font-family: Arial, Helvetica, sans-serif;
        }

        input{
            width: 150px;
            padding: 10px;
            border: 2px solid deeppink;
             border-radius: 15px;
            background-color: #fff0f5;
            font-size: 14px;
        }

    </style>

</head>

<body>

<center>

   <h1>Update Form</h1>

    <form method="POST">

        {% csrf_token %}
       
              {% for i in edit %}

        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{i.name}}" required>

        <br><br>

        <label for="regno"> Register Number </label>
        <input type="text" id="regno" name="regno" value="{{i.regno}}">

        <br><br>

        <label for="age"> Age </label>
        <input type="number" id="age" name="age" value="{{i.age}}">

        <br><br>

        <label for="dob"> Date Of Birth </label>
        <input type="date" id="dob" name="dob" value="{{i.dob|date:'Y-m-d'}}">

        <br><br>

    
        <label for="email"> Email </label>
        <input type="email" id="email" name="email" value="{{i.email}}">

        <br><br>

        <label for="phone"> Phone Number </label>
        <input type="tel" id="phone" name="phone" value="{{i.phone}}">

        <br><br>


    {% endfor %}
        <!-- Submit Button -->

        <button type="submit"> Register </button>

  
       

    </form>
</center>

</body>

</html>
