<!DOCTYPE html>
<html>
<head>
    <title>My Stylish Page</title>

   
</head>

<body bgcolor="orange">
<center>
    <nav>
        <a href="/">Home</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/about/">About</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/contact/">Contact</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/table/">Table</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/testing/">Testing</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/main/">Main</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/sample/">Sample</a>
        &nbsp; &nbsp; &nbsp;
        <a href="/new/">New</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/form/">Form</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/form_result/">Form Result</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/form_edit/">From edit</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/web/">Web</a>
       
    </nav>

    <div class="box">

        <h1> Welcome </h1>

       

    </div>
</center>
</body>
</html>