{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/table.css' %}">
</head>
<body bgcolor="lightblue" >
 <center>     
    <nav>
        <a href="/">Home</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/about/">About</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/contact/">Contact</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/table/">Table</a>
         &nbsp; &nbsp; &nbsp;
        <a href="/testing/">Testing</a>
    </nav>
</center>
   <center>
    <h2> Student details </h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>REGISTER NUMBER</th>
            <th>EMAIL</th>
            <th>PHONE NUMBER</th>
            <th>DATE OF BIRTH</th>
            <th>TIME</th>
            <th>GENDER</th>
            <th>SKILL</th>
            <th>ADDRESS</th>
            <th>YEAR</th>
            <th>COLOR</th>
            <th>RATING</th>
        </tr>
        <tr>
    <td>1</td>
    <td>Muneeswari</td>
    <td>munee123</td>
    <td>101</td>
    <td>munee@gmail.com</td>
    <td>9876543210</td>
    <td>10-05-2008</td>
    <td>10:30 AM</td>
    <td>Female</td>
    <td> HTML</td>
    <td>Madurai</td>
    <td>3rd Year</td>
    <td>Pink</td>
    <td>8/10</td>
</tr>
<tr>
    <td>2</td>
    <td>Aadhira</td>
    <td>aadhi123</td>
    <td>102</td>
    <td>aadhira@gmail.com</td>
    <td>9876543210</td>
    <td>10-05-2005</td>
    <td>10:30 AM</td>
    <td>Female</td>
    <td>Python, HTML</td>
    <td>Vellore</td>
    <td>3rd Year</td>
    <td>Pink</td>
    <td>8/10</td>
</tr>

<tr>
    <td>3</td>
    <td>Yuvan</td>
    <td>yuvan456</td>
    <td>103</td>
    <td>yuvan@gmail.com</td>
    <td>9876501234</td>
    <td>15-07-2004</td>
    <td>11:00 AM</td>
    <td>Male</td>
    <td>Java, CSS</td>
    <td>Chennai</td>
    <td>2nd Year</td>
    <td>Blue</td>
    <td>9/10</td>
</tr>

<tr>
    <td>4</td>
    <td>Harini</td>
    <td>harini789</td>
    <td>104</td>
    <td>harini@gmail.com</td>
    <td>9784561230</td>
    <td>21-03-2005</td>
    <td>09:45 AM</td>
    <td>Female</td>
    <td>C, Python</td>
    <td>Salem</td>
    <td>1st Year</td>
    <td>Green</td>
    <td>7/10</td>
</tr>

<tr>
    <td>5</td>
    <td>Rithvik</td>
    <td>rithvik321</td>
    <td>105</td>
    <td>rithvik@gmail.com</td>
    <td>9123456780</td>
    <td>11-09-2003</td>
    <td>12:15 PM</td>
    <td>Male</td>
    <td>HTML, JS</td>
    <td>Madurai</td>
    <td>3rd Year</td>
    <td>Red</td>
    <td>8/10</td>
</tr>

<tr>
    <td>6</td>
    <td>Nakshatra</td>
    <td>nakshu147</td>
    <td>106</td>
    <td>nakshatra@gmail.com</td>
    <td>9345678120</td>
    <td>05-12-2004</td>
    <td>01:00 PM</td>
    <td>Female</td>
    <td>Java, SQL</td>
    <td>Coimbatore</td>
    <td>2nd Year</td>
    <td>Yellow</td>
    <td>10/10</td>
</tr>

<tr>
    <td>7</td>
    <td>Advaith</td>
    <td>advaith852</td>
    <td>107</td>
    <td>advaith@gmail.com</td>
    <td>9567812340</td>
    <td>19-06-2005</td>
    <td>02:30 PM</td>
    <td>Male</td>
    <td>Python, C++</td>
    <td>Trichy</td>
    <td>1st Year</td>
    <td>Black</td>
    <td>6/10</td>
</tr>

<tr>
    <td>8</td>
    <td>Ishani</td>
    <td>ishani741</td>
    <td>108</td>
    <td>ishani@gmail.com</td>
    <td>9871236540</td>
    <td>30-01-2004</td>
    <td>03:15 PM</td>
    <td>Female</td>
    <td>HTML, CSS</td>
    <td>Erode</td>
    <td>3rd Year</td>
    <td>Purple</td>
    <td>9/10</td>
</tr>

<tr>
    <td>9</td>
    <td>Vihaan</td>
    <td>vihaan963</td>
    <td>109</td>
    <td>vihaan@gmail.com</td>
    <td>9012345678</td>
    <td>25-08-2003</td>
    <td>04:00 PM</td>
    <td>Male</td>
    <td>JavaScript</td>
    <td>Tirunelveli</td>
    <td>2nd Year</td>
    <td>Orange</td>
    <td>7/10</td>
</tr>

<tr>
    <td>10</td>
    <td>Saindhavi</td>
    <td>sai159</td>
    <td>110</td>
    <td>saindhavi@gmail.com</td>
    <td>9988776655</td>
    <td>14-02-2005</td>
    <td>05:20 PM</td>
    <td>Female</td>
    <td>SQL, Python</td>
    <td>Vellore</td>
    <td>1st Year</td>
    <td>White</td>
    <td>8/10</td>
</tr>

<tr>
    <td>11</td>
    <td>Keshav</td>
    <td>keshav753</td>
    <td>111</td>
    <td>keshav@gmail.com</td>
    <td>9445566778</td>
    <td>08-11-2004</td>
    <td>06:00 PM</td>
    <td>Male</td>
    <td>C, HTML</td>
    <td>Chennai</td>
    <td>3rd Year</td>
    <td>Brown</td>
    <td>9/10</td>
</tr>
<tr>
    <td>12</td>
    <td>Dhruvan</td>
    <td>dhruv222</td>
    <td>112</td>
    <td>dhruvan@gmail.com</td>
    <td>9112233445</td>
    <td>18-09-2004</td>
    <td>10:45 AM</td>
    <td>Male</td>
    <td>C++, HTML</td>
    <td>Karur</td>
    <td>3rd Year</td>
    <td>Sky Blue</td>
    <td>7/10</td>
</tr>
<tr>
    <td>13</td>
    <td>Yashika</td>
    <td>yashi333</td>
    <td>113</td>
    <td>yashika@gmail.com</td>
    <td>9223344556</td>
    <td>27-06-2005</td>
    <td>01:30 PM</td>
    <td>Female</td>
    <td>CSS, SQL</td>
    <td>Tanjore</td>
    <td>1st Year</td>
    <td>Peach</td>
    <td>9/10</td>
</tr>

<tr>
    <td>14</td>
    <td>Reyansh</td>
    <td>rey444</td>
    <td>114</td>
    <td>reyansh@gmail.com</td>
    <td>9334455667</td>
    <td>03-02-2003</td>
    <td>03:00 PM</td>
    <td>Male</td>
    <td>JavaScript, Python</td>
    <td>Thoothukudi</td>
    <td>3rd Year</td>
    <td>Grey</td>
    <td>8/10</td>
</tr>

<tr>
    <td>15</td>
    <td>Anvika</td>
    <td>anvi555</td>
    <td>115</td>
    <td>anvika@gmail.com</td>
    <td>9445566771</td>
    <td>22-10-2004</td>
    <td>04:45 PM</td>
    <td>Female</td>
    <td>Java, HTML</td>
    <td>Kanchipuram</td>
    <td>2nd Year</td>
    <td>Maroon</td>
    <td>10/10</td>
</tr>    
    </table></center>
</body>
</html>