{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    <nav>
        <a href="/">Home</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/about/">About</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/contact/">Contact</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/table/">Table</a>
          &nbsp; &nbsp; &nbsp;
        <a href="/testing/">Testing</a>
    </nav>
    </div>

    <br><br>

 
          <h1 id="text">Welcome to My Website</h1><br>

     <button class="sty">details</button>
        
    <br><br>
<img  src="{% static 'image/pic.jpg'%}" class="img">
   
</body>
</html>