input{
    width:150px;
    padding:10px;
    border:2px solid blue;
    border-radius:15px;
    margin:5px;
}

/* NAME BOX */

div{
    width:300px;
    height: 600px;
    padding:25px;
    background:rgb(227, 208, 208);
    border-radius:20px;
    box-shadow:0px 0px 10px gray;
    margin:auto;
    margin-top:100px;
    text-align:center;
}

body{
    background:linear-gradient(90deg,rgba(186, 141, 217, 1) 0%,rgba(227, 141, 174, 1) 0%,rba(252, 182, 182, 1) 26%,rgba(232, 171, 149, 1) 68%,rgba(245, 240, 233, 1) 100%);
}