body{
    background: linear-gradient(to right, #ffdde1, #c2e9fb);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Heading */
h2{
    color: rgb(115, 166, 179);
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgb(104, 137, 117);
}

/* Table Main Design */
table{
    width: 95%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(171, 90, 90);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* Table Border */
table, th, td{
    border: 1px solid #dcdcdc;
}

th{
    background: linear-gradient(to right, #a0abb5, #db99b1);
    color: rgb(130, 41, 41);
    padding: 15px;
    font-size: 14px;
}


td{
    padding: 12px;
    font-size: 14px;
    background-color: rgb(201, 157, 167);
}
